<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>
<body style="background-color:darkslategrey">
    <div style="display:flex; align-content:center">
        <h1 style="color:navajowhite;">Hello, {{person}}!</h1>
    </div>
    <script>
        $(document).ready(function(){
            $.post("/get_data", function(data, status){
                alert("Data: " + data + "\nStatus: " + status);
            });
        });
    </script>
</body>
</html>